#root {
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 0;
}

#content label {
    font-size: 15px;
}

#input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

#output {
    margin-top: 5px;
    display: flex;
}

#content input {
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15.5px;
    flex: 1;
    max-lines: 1;
}

#content button {
    flex: 0;
    min-width: 100px;
    font-size: 14px;
}

textarea {
    overflow-y: auto;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    flex: 1;
}